.cardInf {
    width: 100%;
    padding: 40px;
    margin-bottom: 20px;
}

.cardInf__container {
    width: 100%;
    padding: 34px 32px;

    border-radius: 24px;
    background: #EDF5FB;
}

h2.title {
    font-size: 30px;
    margin-bottom: 22px;
}

.cardInf__box {
    display: flex;
    gap: 32px;
    justify-content: start;
    align-items: start;
}

.cardInf__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 17px;
}

.content-top {
    display: flex;
    align-items: center;
    gap: 26px;

    font-size: 26px;
    font-weight: 600;
    color: #BA9C63;
}

.content-top div {
    width: 212px;
    height: 1px;
    background: #C7D1DB;
}

.cardInf__item-title {
    font-weight: 600;
    font-size: 16px;
    color: #0F161F;
}

.cardInf__item-text {
    width: 100%;
    max-width: 230px;
    color: #5E6B7A;
    font-size: 14px;
}